.row1{
  width:100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.navContainer{
  font-family: 'Roboto', sans-serif;
}

.img-wrapper{
  position: relative;
  flex:1;
  height:100px;
}

.img-col:hover{
  opacity:1
}

.img-col{
  width:100%;
  height:90px;
  opacity: 0.2;
}

li{
  margin: 22px

}

body{
  background:black;
}

#indicator{
  position:absolute;

  top: 340px;
  left:0px;
}

.img-text{
  position:absolute;
  top:20px;
  width:100%;
  text-align: center;
  font-size:20px;
  /*left:33%;*/
}

.img-col:hover + .img-text{
  display:none;
}

.tabContainer{
  height: 100%;
  color: white;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.tab{
  cursor:pointer;
  display: block;
  border: 3px solid teal;
  border-radius: 0px 0px 20px 20px;
  background:#222;
  font-size:30px;
}
.tab.selected{
  border: 3px solid orange;
}

.tab.selected .light{
  background: orange;
}

.light{
  height:40%;
  margin: 0px 4% 0px 4%;
}

.tab .light{
  background: teal;
}

.tab .text, .tab.selected .text{
  margin-top:40px;
}

.widget{
  background-color: #222;
  border: 5px solid black;
  color:white;
}

.widget-black{
  background: black;
}


.moduleName{
  font-size: 35px;
  width:100%;
  text-align:center;
  color:black;
  background:orange;
}

.instructions{
  padding-top:20px;
  padding-left:16.6%;
  width:66.6%;
}

.instructions-header{
  width:100%;
  background:orange;
  font-size:30px;
  text-align:center;
  color:black;
}

.instructions-paragraph{
  padding: 5px 20px;
}

.fields{
  font-size: 20px;
  /*border-right: 2px solid #444;*/
  padding-left: 5px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:30px;
  border: 1px solid #444444;
}

.row2{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.row3{
  width:100%;
  height:100px;
  display: flex;
  flex-direction: row;
}

#clock{
}

.header-container {
    background: #444;
    color: #aaa;
}

.clock{
  display: block;
  height: 175px;
  padding-top:5px;
  padding-left:5px;
}

.strikes{
  width:100%;
}


.strike1{
  font-size:30px;
  text-align: center;
}

.phase1{
  font-size: 30px;
  text-align: center;
}



.fa-times-circle-o{
  font-size: 50px;
  /*color: #D3D3D3;*/
  color:white;
}

.phases{
  width:100%;
}

.fa-dot-circle-o{
  font-size: 50px;
  line-height: 50px;
  /*color:#D3D3D3;*/
  color:white;

}



.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ff2331;
  font-size: 10px;
  margin: 80px auto;

  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
